/* CSS declarations go here */

html{
	font-family: Avenir Next;
  height: 100%;
}

body {
  height: 100%;
  /*background-color: #eeeeee;*/
}

.no-right-pad{
  padding-right: 0;
}

.operator-customers{
  height:calc(100vh - 80px);
  min-height: 515px;
}

.no-bottom-margin{
  margin-bottom: 0px;
}

.operator-dash-title{
  margin-bottom: 0px;
  height: 45px;
  color: #e57373;
}

/*.tooltip {
  
  background-color: transparent;
  
}
*/
.operator-info{
  /*height: 300px;*/
  height:calc(100vh - 445px);
  min-height: 150px;
  max-height: 300px;
}

.message-padding{
  padding: 5px;
  color: white;
}

.chat-size{
  font-size: 12px;
}

.message-margins{
  margin-top: 3px;
  margin-bottom: 3px;
}

.chat-start{
  font-size: 12px;
}

.operator-chat{
  height:calc(100vh - 95px - (100vh - 445px));
  /*min-height: 300px;*/
}

.chat-prev{
  height: 250px;
  /*background-color: green;*/
}

.chat-send{
  height: 50px;
  /*background-color: red;*/
  margin-top: 0;
}

.vertical-center{
  margin-top: 3px;
}

.auto-width{
  width: 100%
}

.operator-api{
  height:calc(100vh - 170px);
  min-height: 425px;
}

.card-border{
   border:0.5px solid;
   border-color: #E0DBDA;
}

.operator-status{
  height: 75px;
}

.balance_main{
	color: #6495ed;
	font-size: 100px;
	/*font-family: "Open Sans", serif;*/
}

.logo {
  width: 90px;
  height: auto;
  margin-top:5px;
  margin-left:5px;
}

.hidden {
  display: none;
}

.line-margin{
  padding-top: 10px;
}

.no-padding{
  padding: 0px;
}

.chat-title-hieght{
  margin-top: 10px;
}

.workSettings {
  display: none;
}

.eduEmp {
  display: block;
}

.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scrollable {
  max-height:600px;
  overflow: scroll;
}


.card-scrollable {
	max-height: 200px;
  overflow: scroll;

.scrollable-serving {
  height:calc(100vh - 200px);
  overflow: scroll;
  min-height: 395px;
}

.scrollable-chat {
  height:calc(100vh - 215px - (100vh - 445px));
  overflow: scroll;
  min-height: 130px;

}

.currency_main{
	color: #6495ed;
	font-size: 20px;
	/*font-family: "Open Sans", serif;*/
}

.current-email {
  color: grey;
  font-size: 5pt;
}

.icon-valign {
  display: inline-flex;
  vertical-align: middle;
  padding-bottom: 8px;
}

.soon {
  font-size: 40px;
}

.white-tabs-cover {
  background-color: black;
  width: 100%;
  height: 48px;
}

.settings-background {
  background-color: #c5cae9;
  height: 250px;
  width: 100%;
}

.settings-main-text {
  padding-top: 50px;
  color: white;
  font-family: Avenir Next;
  font-size: 20pt;
}

.settings-sub-text {
  padding-top:60px;
  color: white;
  font-family: Avenir Next;
  font-size: 13pt;
}

.float-over {
  position: fixed;
}

.half-grey{
  height:100vh;
}

.no-margins{
  margin: 0;
  padding: 0;
}

.color-test{
  background-color: red;
}

.backNext {
  position: absolute;
  padding-bottom:30px;
  bottom: 0px;
  width:500px;
  background-color: white;
}

.backNextSmall {
  position: absolute;
  padding-bottom:30px;
  padding-left:5%;
  bottom: 0px;
  right: 5%;
  width:95%;
  background-color: white;
}

.find-customer-button{
  margin-left: 5px;  
  height: 100%;
}


.add-design{
  color: grey;
}

.find-user-box{
  height: 70px;
  margin-left: 5px;  
}

.containerLeft{
  float: right;
  margin-right: 10px;
  width:500px;
}

.containerLeftSmall{
  margin-right: 5%;
  margin-left: 5%;
  width:90%;
}

.containerRight{
  margin-right: 23%;
  margin-top: 80px;
  width:300px;
}

.step_number {
  color: #D3D3D3;
  margin:0 ;
}

.step_main {
  font-size:150%;
  margin-top:5px ;
  margin-bottom:5px ;
/*  font-weight:bold;
*/
}

.step_info {
  color: grey;
   margin:0 ;
}

/* AddInfoLayout.html Style*/

.formsTopMargin {
  margin-top: 5%;
}

.edit {
  color:#90caf9 ;
  padding:0;
  margin:0;
}
.advice {
  width:38%;
  overflow:hidden;
  margin-left:62%;
}

.left-card {
width: 60%;
float:left;
overflow:hidden;
}

.left-basic {
width: 60%;
float:left;
overflow:hidden;
}

.centerIt {
  margin-right:0;
}

.basic-advice {
  width:38%;
  margin-top:10%;
  margin-left:62%;
  overflow:hidden;
}

.newAccompPublish {

  margin-top:50px;
  overflow:hidden;
}
