<template name="AchievementsLayout">
  <h2 class="page-title">Achievements</h2>
  <div class="col s12 divider"></div>
  <div class="content-container">
    <div class="row">
      <div class="col s12 m12 l3 center">
        <div class="card-border card horizontal">
          <span class="soon center-align ellipsis">Coming Soon.</span>
        </div>
      </div>
      <div class="col s12 m12 l3 center">
        <div class="card-border card horizontal">
          <span class="soon center-align ellipsis">Coming Soon.</span>
        </div>
      </div>
      <div class="col s12 m12 l3 center">
        <div class="card-border card horizontal">
          <span class="soon center-align ellipsis">Coming Soon.</span>
        </div>
      </div>
      <div class="col s12 m12 l3 center">
        <div class="card-border card horizontal">
          <span class="soon center-align ellipsis">Coming Soon.</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12 l6 center">
        <div class="card-border card">
          <span class="soon center-align ellipsis">Coming Soon.</span>
        </div>
      </div>
      <div class="col s12 m12 l6 center">
        <div class="card-border card">
          <span class="soon center-align ellipsis">Coming Soon.</span>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col s12 m12 center">
      <div class="card-border card">
        <span class="soon center-align ellipsis">Coming Soon.</span>
      </div>
    </div>
  </div>
  </div>
</template>
