
<template name="HomeLayout">
  <main>

    {{#if currentUser }}
			<!-- Logged in -->
      {{#if isOperator}}

      <!-- OPERATOR -->

        <ul id="slide-out" class="side-nav fixed side-color">
          <li><div class="user-view center">
            <div class="background">
            </div>
            {{> userInfo user}}
          </div></li>
          <li><div class="user-view center side-text-color"><a href="#sales">
            <i class="material-icons medium">equalizer</i>
            <br>
            SALES
          </a></div></li>
          <li><div class="user-view center side-text-color"><a href="#performance">
            <i class="material-icons medium">multiline_chart</i>
            <br><span>PERFORMANCE</span>
          </a></div></li>
          <li><div class="user-view center side-text-color"><a href="#achievement">
            <i class="material-icons medium">star_half</i>
            <br><span>ACHIEVEMENTS</span>
          </a></div></li>
        </ul>

        <!-- SALES -->
        <div id="sales">
          {{> sales}}
        </div>

        <!-- PERFORMANCE -->
        <div id="performance">
          {{> performance}}
        </div>

        <!-- ACHIEVEMENTS -->
        <div id="achievement">
          {{> achievements}}
        </div>

      {{else}}
  			<!-- USER -->
        <div class="row margins-valign">
          <div class="col s12 m6">
            <!-- BALANCE CARD -->
            <div class=" col s12">
              <div class="card-border z-depth-0 card balance_card white">
                {{> userBalance}}
              </div>
            </div>
           <!-- HISTORY CARD -->
            <div class="col s12">
              <div class="card-border z-depth-0 card  transactions-card white">
                {{> transactions}}
              </div>
            </div>
          </div>
          <!-- TOPUP CARD -->
          <div class=" col s12 m6">
            <div class="card-border z-depth-0 card topup-card white">
              {{> topUp}}
            </div>
          </div> 
        </div>
      {{/if}}

		{{else}}
			<!-- Not Logged in -->
      <div class="row">
        <div class=" col m9 hide-on-small-only">
          <img class="landing-pic" src="/images/landing.png" alt="Pgone">
        </div>
        <div class="landing-text col s12 m3">
          <div class="landing-motto">Anything, one text away.</div>
          <p class="landing-info">Order anything with a simple text to 0508512034 and Tamerny will get it for you.</p>
          <center><a href="#login" class="col s12 #9fa8da indigo lighten-3 waves-effect waves-light btn center-align">Register</a></center>
        </div>
      </div>
	{{/if}}

  </main>
</template>

<template name="sales">
  <div class="row operator-padding">
    <div class="col s12 m6 center">
      <div class="card-border operator-sales-1 card">

      </div>
    </div>
    <div class="col s12 m6 center">
      <div class="card-border operator-sales-1 card">
        {{> userBalance}}
      </div>
    </div>
  </div>
  <div class="row operator-padding">
    <div class="col s12 m12 center">
      <div class="card-border operator-sales-1 card">

      </div>
    </div>
  </div>
</template>

<template name="performance">
  <div class="row operator-padding">
    <div class="col s12 m3 center">
      <div class="card-border operator-sales-2 card horizontal">

      </div>
    </div>
    <div class="col s12 m3 center">
      <div class="card-border operator-sales-2 card horizontal">

      </div>
    </div>
    <div class="col s12 m3 center">
      <div class="card-border operator-sales-2 card horizontal">

      </div>
    </div>
    <div class="col s12 m3 center">
      <div class="card-border operator-sales-2 card horizontal">

      </div>
    </div>
  </div>
  <div class="row operator-padding">
    <div class="col s12 m12 center">
      <div class="card-border operator-sales-1 card">

      </div>
    </div>
  </div>
</template>

<template name="achievements">
  <div class="row operator-padding">
    <div class="col s12 m3 center">
      <div class="card-border operator-sales-2 card">

      </div>
    </div>
    <div class="col s12 m3 center">
      <div class="card-border operator-sales-2 card">

      </div>
    </div>
    <div class="col s12 m3 center">
      <div class="card-border operator-sales-2 card">

      </div>
    </div>
    <div class="col s12 m3 center">
      <div class="card-border operator-sales-2 card">

      </div>
    </div>
  </div>
  <div class="row operator-padding">
    <div class="col s12 m6 center">
      <div class="card-border operator-sales-1 card">

      </div>
    </div>
    <div class="col s12 m6 center">
      <div class="card-border operator-sales-1 card">
        
      </div>
    </div>
  </div>
  <div class="row operator-padding">
    <div class="col s12 m12 center">
      <div class="card-border operator-sales-1 card">

      </div>
    </div>
  </div>
</template>

<template name="userBalance">
  <div class="no-bottom-margin">
    <div class="col s12 operator-dash-title valign-wrapper">
      <div class="auto-width center-align ellipsis">Balance</div>
    </div>
    <div class="col s12 divider "></div>
  </div>
  <div class="col s12 balance-number ellipsis center-align">
    {{balance}} <a class="currency_main">(SAR)</a>
  </div>
</template>

<template name="topUp">
  <div class="no-bottom-margin">
    <div class="col s12 operator-dash-title valign-wrapper">
      <div class="auto-width center-align ellipsis">Top-Up</div>
    </div>
    <div class="col s12 divider "></div>
  </div>
  {{#autoForm collection="TopUp" id="insertTopUpForm" type="insert"}}
    <div class="input-field col s12">
      {{>afFieldInput name="amount" id="amount" type="number"}}
      <label>Amount (SAR)</label>
    </div>
    <div class="input-field col s12">
      {{>afFieldInput name="name" id="name" type="text"}}
      <label>Name</label>
    </div>
    <div class="input-field col s12">
        {{>afFieldInput name="number" id="number" type="number"}}
      <label>Card Number</label>
    </div>
    <div class="input-field col s12">
        {{>afFieldInput name="cvs" id="cvs" type="number"}}
        <label>CVS</label>
    </div>
    <div class="input-field col s6">
        {{>afFieldInput name="month" id="month" type="number"}}
      <label>Expiration Month</label>
    </div>
    <div class="input-field col s6">
        {{>afFieldInput name="year" id="year" type="number"}}
      <label >Expiration Year</label>
    </div>
    <br>
    <div class=" col s12">
    <button type="submit" class=" col s12 btn btn-primary center">Top Up</button>
    </div>
  {{/autoForm}}
</template>

<template name="transactions">
  <div class=" no-bottom-margin">
    <div class="col s12 operator-dash-title valign-wrapper">
      <div class="auto-width center-align ellipsis">History</div>
    </div>
    <div class="col s12 divider "></div>
  </div>
  <div class="scrollable-profile-history container col s12">
    <ul class="collapsible z-depth-0" data-collapsible="accordion" >
      {{#each transaction in userHistory customerId}}
          <li>
            <div class="collapsible-header">
              <span class="left">{{transaction.title}}</span>
              <span class="right">{{since transaction.time}}</span>
            </div>
            <div class="collapsible-body">
              <span class="left">{{transaction.description}}</span>
              <span class="right">{{transaction.price}}</span>
              <span>{{transaction.status}}</span>
            </div>
          </li>
      {{/each}}

      <!-- START DELETE (AFTER TESTING) -->
      <li>
        <div class="collapsible-header">
          <span class="left">Jarir Book Store (TEST)</span>
          <span class="right">5 days ago</span>
        </div>
        <div class="collapsible-body">
          <span class="left">2 Five Star Grid Notebooks</span>
          <span class="right">SAR50.00</span>
          <span> (done)</span>
        </div>
      </li>
       <li>
        <div class="collapsible-header">
          <span class="left">Al Baik (TEST)</span>
          <span class="right">3 days ago</span>
        </div>
        <div class="collapsible-body">
          <span class="left">٢ مسحب حراق</span>
          <span class="right">SAR23.00</span>
          <span> (dummy)</span>
        </div>
      </li>
       <li>
        <div class="collapsible-header">
          <span class="left">Al Baik (TEST)</span>
          <span class="right">3 days ago</span>
        </div>
        <div class="collapsible-body">
          <span class="left">٢ مسحب حراق</span>
          <span class="right">SAR23.00</span>
          <span> (dummy)</span>
        </div>
      </li>
       <li>
        <div class="collapsible-header">
          <span class="left">Al Baik (TEST)</span>
          <span class="right">3 days ago</span>
        </div>
        <div class="collapsible-body">
          <span class="left">٢ مسحب حراق</span>
          <span class="right">SAR23.00</span>
          <span> (dummy)</span>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <span class="left">Transportation: Careem (TEST)</span>
          <span class="right">6 days ago</span>
        </div>
        <div class="collapsible-body">
          <span class="left">From your house to your office</span>
          <span class="right">SAR20.00</span>
          <span> (done)</span>
        </div>
      </li>
      <!-- END DELETE -->
    </ul>
  </div>
</template>

<template name="userInfo">
  <div class="side-text-color">
   <span class="center">{{firstName}} {{lastName}}</span>
   <br>
   <span class="center">{{phone}}</span>
 </div>
</template>
