<template name="HomeLayout">

  <main>

    {{#if currentUser }}
			<!-- Logged in -->

      <!-- Balance Updating is functional -->
			<div class="balance_main center">{{balance}} <a class="currency_main">(SAR)</a></div>
			<br>
			<br>

			<div class="row">
	      <div class=" col s6 center">
	      	<!-- Print all transactions here -->
	      	<h4>Transaction History</h4>
          <div class="scrollable-profile container col s12">
            <ul class="collapsible" data-collapsible="accordion">
              {{#each transaction in userHistory customerId}}
                  {{> transactions transaction}}
              {{/each}}
              <li>
                <div class="collapsible-header">
                  <span class="left">Al Baik</span>
                  <span class="right">3 days ago</span>
                </div>
                <div class="collapsible-body">
                  <span class="left">٢ مسحب حراق</span>
                  <span class="right">SAR23.00</span>
                  <span> (dummy)</span>
                </div>
              </li>
              <li>
                <div class="collapsible-header">
                  <span class="left">Jarir Book Store</span>
                  <span class="right">5 days ago</span>
                </div>
                <div class="collapsible-body">
                  <span class="left">2 Five Star Grid Notebooks</span>
                  <span class="right">SAR50.00</span>
                  <span> (done)</span>
                </div>
              </li>
              <li>
                <div class="collapsible-header">
                  <span class="left">Transportation: Careem</span>
                  <span class="right">6 days ago</span>
                </div>
                <div class="collapsible-body">
                  <span class="left">From your house to your office</span>
                  <span class="right">SAR20.00</span>
                  <span> (done)</span>
                </div>
              </li>
            </ul>
          </div>
	      </div>
	      <div class="col s6 center">
	      	<h4>Add Money</h4>
          <div class="row">
            <ul class="tabs">
              <!-- <li class="tab col s4"><a href="#creditcard">Credit Card</a></li> -->
              <li class="tab col s6"><a href="#creditcard-safe">Credit Card</a></li>
              <li class="tab col s6"><a href="#sadad">Sadad</a></li>

            </ul>
          </div>
          <div id="creditcard-safe" class="col s12">
            <form class="safe col s12">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">attach_money</i>
                  <input placeholder="0.00" id="amount" type="number" min="0.00" max="10000.00" step="0.01" class="validate">
                  <label class="active" for="amount">Amount</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">call_to_action</i>
                  <input placeholder="XXXXXXXXXXXXXXXX" id="number" type="text" class="validate">
                  <label class="active" for="number">Card Number</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="name" type="text" class="validate">
                  <label class="active" for="name">Full Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s4">
                  <i class="material-icons prefix">credit_card</i>
                  <input placeholder="XXX" id="cvv" type="text" data-length="3" class="validate">
                  <label class="active" for="cvv">CVV</label>
                </div>
                <div class="col s8">
                  <br>
                  At the back of your card.
                </div>
              </div>
              <div class="row">
                <div class="col s2">
                  <i class="material-icons small">date_range</i>
                </div>
                <div class="input-field col s5">
                  <select id="month">
                    <option value="" disabled selected></option>
                    <option value="1">1 January</option>
                    <option value="2">2 February</option>
                    <option value="3">3 March</option>
                    <option value="4">4 April</option>
                    <option value="5">5 May</option>
                    <option value="6">6 June</option>
                    <option value="7">7 July</option>
                    <option value="8">8 August</option>
                    <option value="9">9 September</option>
                    <option value="10">10 October</option>
                    <option value="11">11 November</option>
                    <option value="12">12 December</option>
                  </select>
                  <label>Month</label>
                </div>
                <div class="input-field col s5">
                  <input id="year" type="text" class="validate">
                  <label class="active" for="year">Year</label>
                </div>
              </div>
              <br>
  		        <button type="submit" class=" col s12 extend_button btn btn-primary center">Top Up</button>
            </form>
          </div>
          <!-- <div id="creditcard" class="col s12">
  	      	{{#autoForm collection="TopUp" id="insertTopUpForm" type="insert"}}

  	          <div class="input-field col s12">
  	            {{>afFieldInput name="amount" id="amount" type="number"}}
  	            <label>Amount (SAR)</label>
  	          </div>

  	          <div class="input-field col s12">
  	            {{>afFieldInput name="name" id="name" type="text"}}
  	            <label>Name</label>
  	          </div>

  		        <div class="input-field col s12">
  		            {{>afFieldInput name="number" id="number" type="number"}}
  		          <label>Card Number</label>
  		        </div>

  		        <div class="input-field col s12">
  		            {{>afFieldInput name="cvs" id="cvs" type="number"}}
  		            <label>CVS</label>
  		        </div>

  		        <div class="input-field col s6">
  		            {{>afFieldInput name="month" id="month" type="number"}}
  		          <label>Expiration Month</label>
  		        </div>

  		        <div class="input-field col s6">
  		            {{>afFieldInput name="year" id="year" type="number"}}
  		          <label >Expiration Year</label>
  		        </div>

  		        <br>
  		        <button type="submit" class=" col s12 extend_button btn btn-primary center">Top Up</button>
  		    	{{/autoForm}}
          </div> -->
          <div id="sadad" class="col s12">
            {{#autoForm collection="TopUp" id="insertTopUpSadadForm" type="insert"}}

  	          <div class="input-field col s12">
  	            {{>afFieldInput name="amount" id="amount" type="number"}}
  	            <label>Amount (SAR)</label>
  	          </div>

  	          <div class="input-field col s12">
  	            {{>afFieldInput name="username" id="username" type="text"}}
  	            <label>Username</label>
  	          </div>

  		        <br>
  		        <button type="submit" class=" col s12 extend_button btn btn-primary center">Top Up</button>
  		    	{{/autoForm}}
          </div>
	      </div>
	    </div>

		{{else}}
			<!-- Not Logged in -->
      <div class="row">
        <!-- height="auto" width="100%" -->
        <div class=" col m9 hide-on-small-only">
          <img class="landing-pic" src="/images/landing.png" alt="Pgone">
        </div>
        <div class="landing-text col s12 m3">
          <p class="landing-motto">Anything, one text away.</p>
          <p class="landing-info">Order anything with a simple text to 0508512034 and Tamerny will get it for you.</p>
          <center><a href="#login" class="#9fa8da indigo lighten-3 waves-effect waves-light btn center-align">Register</a></center>
        </div>
      </div>
	{{/if}}

  <!-- Modal Structure -->
  <div id="3dsecurity_frame" class="modal">
    <div class="modal-content center">
      <h4>Please Authenticate</h4>
      <iframe id="3dsecurity" class="frame-container" height="500"></iframe>
    </div>
  </div>

  </main>
</template>

<template name="transactions">
  <li>
    <div class="collapsible-header">
      <span class="left">{{title}}</span>
      <span class="right">{{since time}}</span>
    </div>
    <div class="collapsible-body">
      <span class="left">{{description}}</span>
      <span> ({{status}})</span>
      <span class="right">SAR{{price}}</span>
    </div>
  </li>
</template>
