<template name="HomeLayout">
  {{> Navbar }}
  <div class="container">
    <main>
      <div class="row vertical-section landing-section-1">
        <div class=" col l6 hide-on-med-and-down">
          <img class="landing-pic " src="/images/iphone.png" alt="Pgone">
        </div>
        <div class="landing-text col s12 m8 push-m2 l6 push-l1">
          <h3 style="text-align: left;">Anything<span class="delay-1">, one text away.</span></h3>
          <p class="delay-1">Order almost anything with a simple text to 0508512034 and Tamerny will get it for you.</p>
          <center><a href="#login" class="delay-2 col s12 waves-effect waves-light btn center-align">Register</a></center>
        </div>
      </div>
      <div class="row vertical-section landing-section-2">
        <div class="col s12 m8 push-m2 l12 xl6 push-xl3 landing-section-2-text">
          <h3>Tamerny is Your<br>
            <span id="is-word"></span><span class="blinker">|</span>
          </h3>
          <p>Craving sushi from your favorite restaurant? Tamerny will get it for you. Don’t know how to fix your AC? Just let Tamerny know. Want to book the cheapest flight tomorrow night? You know it.</p>
        </div>
        <div class="col s12">
          <object id="landing-map" class="landing-map z-depth-0" data="/svg/map.svg" type="image/svg+xml">
          </object>
        </div>
      </div>
      <div class="row vertical-section landing-section-3">
        <div class="col s12 m8 push-m2 l12 landing-section-2-text">
          <h3>How Tamerny Works?</h3>
          <h4 class="col s12 l4">1. Text Tamerny</h4>
          <h4 class="col s12 l4">2. Hear Back</h4>
          <h4 class="col s12 l4">3. Confirm</h4>
          <img class="hide-on-med-and-down" src="/images/how-works.jpg" alt="">
          <img class="hide-on-large-only" src="/images/how-works-mobile.jpg" alt="">
        </div>
      </div>
      <div class="row vertical-section landing-section-4">
        <div class="col s12 l5">
          <h4>Tamerny © 2017</h4>
          <h4><a href="mailto:help@tamerny.com">help@tamerny.com</a></h4>
        </div>
        <div class="col s12 l7">
          <p>Anything you want, wherever you are, is just a text message away.
              With Tamerny, this will be the reality, as we will provide you anything you might need through our platform. We help you save time, effort, and even money so you can stop worrying and start living!</p>
        </div>
      </div>

    <!-- Modal Structure -->
    <div id="3dsecurity_frame" class="modal">
      <div class="modal-content center">
        <h4>Please Authenticate</h4>
        <iframe id="3dsecurity" class="frame-container" height="500"></iframe>
      </div>
    </div>
    </main>
  </div>
</template>
