
<template name="MainLayout">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>

    <div class="nav">
			{{> Template.dynamic template=nav}}
		</div>

		<div class="container">
      <!-- Uncomment once click on phone is fixed -->
			<!-- {{#if showAlert}}
        {{#if emailNotVerified}}
          <div class="email-alert">{{>verify}}</div>
        {{/if}}
      {{/if}} -->

			{{> Template.dynamic template=main}}
			{{this.url}}
		</div>
		
		<!-- No Container, used only for Stylistic reasons -->
		{{> Template.dynamic template=nocont}}
		{{this.url}}
		

   	</body>
</template>

<template name="verify">
 <!--  <div class="float-over"> -->
    <div class="card yellow lighten-3 z-depth-1 transparent">
      <div class="card-content black-text row">
        
        <div class="col s10">
          <p>Please verify your email address ({{emailVar}}). <a class="resend-email" >Resend verification link</a></p>
        </div>
        
        <i class="col s2 close-modal material-icons Small right-align">clear</i>

      </div>
    </div>
  <!-- </div> -->
</template>
