
<template name="MainLayout">
	<head>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>

    <div class="nav">
			{{> Template.dynamic template=nav}}
		</div>

		<div class="container">
			<!-- Alert if email is not verified -->
			{{#if emailNotVerified}}
				<div class="row float-over ">
          <div class="col email-alert s12">
            <div class="card yellow lighten-3 z-depth-1 transparent">
              <div class="card-content black-text ">
                <p>Please verify your email address ({{emailVar}}). <a class="resend-email" >Resend verification link</a></p>
              </div>
             
            </div>
          </div>
        </div>
			{{/if}}

			{{> Template.dynamic template=main}}
			{{this.url}}
		</div>
		
		<!-- No Container, used only for Stylistic reasons -->
		{{> Template.dynamic template=nocont}}
		{{this.url}}
		

   	</body>
</template>
