
<template name="Navbar">
	<div class="navbar-fixed">
    <nav class=" navbar-fixed #eeeeee grey lighten-3 z-depth-0">
		  <div class="nav-wrapper">
		    <a href="/"><img class="logo brand-logo" src="/images/logo.png" alt="Logo"></a>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right valign-wrapper hide-on-med-and-down">
				  {{#if currentUser }}
            {{#if notOperator }}
						  <li><a class="become-margins" href="/op-registration">Become an Operator</a></li>
              {{else}}
              <li><a class="become-margins" href={{dashboardLink}}>Dashboard</a></li>
            {{/if}}
            <li><a class="become-margins" href="/">Profile</a></li>
            {{> navbarAccount}}
						{{else}}
              <li><a class="become-margins open-modal" href="/op-registration">Become an Operator</a></li>
  						<li><a class="become-margins waves-effect waves-light" href="#login">Login</a>
              </li>
					{{/if}}
				</ul>
		  </div>
		</nav>
  </div>

  <ul id="slide-out" class="side-nav">
    {{#if currentUser }}
      {{#if notOperator }}
        <li><a class="side become-margins waves-effect waves-light btn" href="/op-registration">Become an Operator</a></li>
        {{else}}
        <li><a class="side" href={{dashboardLink}}>Dashboard</a></li>
      {{/if}}
      <li><a class="side" href="/">Profile</a></li>
      <li><a class="side" href="/settings">Settings</a></li>
      <li class="divider"></li>
      <li><a href="/" class="logout side waves-effect waves-light">Logout</a></li>
      {{else}}
        <li><a class="become-margins open-modal waves-effect waves-light btn" href="/op-registration">Become an Operator</a></li>
        <li><a class="waves-effect waves-light" href="#login">Login</a>
        </li>
    {{/if}}
  </ul>

  <!-- Modal Structure -->
  <div id="login" class="modal">
    <div class="modal-content">
		<div class="row">
	    <div class="col s12">
	      <ul class="tabs #f5f5f5 grey lighten-5">
	        <li class="tab col s6"><a class="active"  href="#test1">Login</a></li>
	        <li class="tab col s6"><a href="#test2">Register</a></li>
	      </ul>
	    </div>
	    <div id="test1" class="col s12">{{> login}}</div>
	    <div id="test2" class="col s12">{{> signup}}</div>
  	</div>
    </div>
  </div>
</template>

<template name="navbarAccount">
    <a class="become-margins dropdown-button valign-wrapper nav-name" data-hover="true" data-beloworigin="true" data-activates="accountDropdown"><div class="ellipsis">{{name}}</div></a>

    <ul id="accountDropdown" class="dropdown-content" style='width: auto !important;'>
      <li><a href="/settings">Settings</a></li>
      <li class="divider"></li>
      <li><a href="/" class="logout waves-effect waves-light">Logout</a></li>
    </ul>
</template>

<template name="signup">
  <!-- <h2 class="center">Join Tamerny</h2> -->
  <form>
    <input class="col s6" type="text" name="signupFirstName" placeholder="First Name">
    <input class="col s6" type="text" name="signupLastName" placeholder="Last Name">
    <input class="col s6" type="number" name="signupNumber" placeholder="Phone">
    <input class="col s6" type="email" name="signupEmail" placeholder="Email">
    <input type="password" name="signupPassword" placeholder="Password">
    <!-- <input type="text" name="signupPilot" placeholder="Pilot Code"> -->
    <center><a class="waves-effect waves-light btn"><input type="submit" value="Signup"></a></center>
  </form>
</template>

<template name="login">
  <form>
    <input type="email" name="loginEmail" placeholder="Email">
    <input type="password" name="loginPassword" placeholder="Password">
    <center>
      <a class="waves-effect waves-light btn">
        <input type="submit" value="Login">
      </a>
      <a href="/reset_pass_link" class="col s12 forgotPass">Forgot Password?</a></center>
  </form>

<!--   <a href="/reset_pass" class="col s12 forgotPass right-align">Forgot Password?</a>
 -->

</template>
