
<template name="Navbar">
  <div class="container">
    <div class="landing-navbar">
      <a href="/"><img class="logo brand-logo" src="/svg/logo.svg" alt="Logo"></a>
      <a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only"><i class="material-icons" style="color: black;">menu</i></a>
      <ul class="right valign-wrapper hide-on-med-and-down">
        <li><a class="become-margins waves-effect waves-light" href="/join">Become an Operator</a></li>
        <li><a class="become-margins waves-effect waves-light" href="#login">Login</a></li>
      </ul>
    </div>
  </div>

  <ul id="slide-out" class="side-nav">
    <li style="margin-top: 40px;"><a class="waves-effect waves-light" href="/join">Become an Operator</a></li>
    <li><a class="waves-effect waves-light" href="#login">Login</a></li>
  </ul>

  <!-- Modal Structure -->
  <div id="login" class="modal">
    <div class="modal-content">
		<div class="row">
	    <div class="col s12">
	      <ul class="tabs #f5f5f5 grey lighten-5">
	        <li class="tab col s6"><a class="active"  href="#test1">Login</a></li>
	        <li class="tab col s6"><a href="#test2">Register</a></li>
	      </ul>
	    </div>
	    <div id="test1" class="col s12">{{> login}}</div>
	    <div id="test2" class="col s12">{{> signup}}</div>
  	</div>
    </div>
  </div>
</template>

<template name="signup">
  <!-- <h2 class="center">Join Tamerny</h2> -->
  <form>
    <input class="col s6" type="text" name="signupFirstName" placeholder="First Name">
    <input class="col s6" type="text" name="signupLastName" placeholder="Last Name">
    <input class="col s6" type="number" name="signupNumber" placeholder="Phone">
    <input class="col s6" type="email" name="signupEmail" placeholder="Email">
    <input type="password" name="signupPassword" placeholder="Password">
    <!-- <input type="text" name="signupPilot" placeholder="Pilot Code"> -->
    <center><a class="waves-effect waves-light btn"><input type="submit" value="Signup"></a></center>
  </form>
</template>

<template name="login">
  <form>
    <input type="email" name="loginEmail" placeholder="Email">
    <input type="password" name="loginPassword" placeholder="Password">
    <center>
      <a class="waves-effect waves-light btn">
        <input type="submit" value="Login">
      </a>
      <a href="/reset_pass_link" class="col s12 forgotPass">Forgot Password?</a></center>
  </form>

<!--   <a href="/reset_pass" class="col s12 forgotPass right-align">Forgot Password?</a>
 -->

</template>
