<template name="OperatorDashboardLayout">

  {{> getUser}}

  <div class="row">
    <div class=" col s6 no-right-pad">
      <div class="operator-half card-border z-depth-0 card ">
        <span class="black-text">{{> userInfoCard}}
        </span>
      </div>
      <div class="operator-chat card-border z-depth-0 card ">
        <span class="black-text">{{> userChatCard}}
        </span>
      </div>
    </div>
    <div class="col s6">
      <div class="operator-api card-border z-depth-0 card ">
        <span class="black-text">{{> apiCard}}
        </span>
      </div>
      <div class="operator-status card-border z-depth-0 card ">
        <span class="black-text">{{> statusCard}}
        </span>
      </div>
    </div>
  </div>
</template>

<template name="getUser">
  {{#if searching}}

   <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  {{else}}
  <a class=" getUser btn-floating btn-large waves-effect waves-light orange"><i class=" material-icons">add</i></a>

  {{/if}}

</template>

<template name="userInfoCard">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a href="#info">Information</a></li>
        <li class="tab col s6"><a href="#hist">History</a></li>
      </ul>
    </div>
    <div id="info" class="col s12">
      <ul class="tabs">
        <li class="tab col s4"><a class="active" href="#account">Account</a></li>
        <li class="tab col s4"><a href="#favorites">Favorites</a></li>
        <li class="tab col s4"><a href="#addresses">Addresses</a></li>
      </ul>
      <div id="account" class="col s12">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input disabled value="{{userInfo.firstName}}" id="first_name" type="text" class="validate">
                <label class="active" for="first_name">First Name</label>
              </div>
              <div class="input-field col s6">
                <input disabled value="{{userInfo.lastName}}" id="last_name" type="text" class="validate">
                <label class="active" for="last_name">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input disabled value="{{userInfo.phone}}" id="phone" type="text" class="validate">
                <label class="active" for="phone">Phone</label>
              </div>
            </div>
            <!-- <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
            </div> -->
          </form>
        </div>
      </div>
      <div id="favorites" class="col s12">
          <ul class="collapsible" data-collapsible="accordion">
            {{#each favorites}}
                {{> key}}
            {{/each}}
            <li>
              <div class="collapsible-header">Example <i class="material-icons right">mode_edit</i></div>
              <div class="collapsible-body"><span>Edit goes here</span></div>
            </li>
          </ul>
          <div class="fave-add input-field col s12">
            <div class="row">
              <div class="col s10">
                <input id="input_text" placeholder="New Entry ..." type="text" class="validate" data-length="60">
              </div>
              <div class="col s2 ">
                <a class="fave-add vertical-center btn btn-floating waves-effect waves-light z-depth-1"><i class="material-icons">playlist_add</i></a>
              </div>
            </div>
          </div>
      </div>
      <div id="addresses" class="scrollable col s12">
          <ul class="collapsible" data-collapsible="accordion">
            {{#each addresses}}
                {{> address}}
            {{/each}}
            <li>
              <div class="collapsible-header">US</div>
              <div class="collapsible-body">
                <span>1401 College Ave.</span>
                <span>Apt. E304</span>
                <span>Manhattan, KS 66502</span>
              </div>
            </li>
          </ul>
      </div>
    </div>
    <div id="hist" class="col s12">
      <ul class="collapsible" data-collapsible="accordion">
        {{#each history}}
           {{> transaction}}
        {{/each}}
        <li>
          <div class="collapsible-header">Al Baik - 3 days ago</div>
          <div class="collapsible-body">
            <span>2 Spicy مسحب - 24 - cancelled</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<template name="key">
    <li>
      <div class="collapsible-header">{{keyWord}} - {{time}} <i class="material-icons right">mode_edit</i></div>
      <div class="collapsible-body"><span>Edit Favorite Here</span></div>
    </li>
</template>

<template name="address">
    <li>
      <div class="collapsible-header">{{title}}</div>
      <div class="collapsible-body">
        <span>{{line1}}</span>
        <span>{{line2}}</span>
        <span>{{city}}, {{province}} {{zipCode}}</span>
      </div>
    </li>
</template>

<template name="transaction">
  <li>
    <div class="collapsible-header">{{title}} - {{time}}</div>
    <div class="collapsible-body">
      <span>{{description}} - {{price}} - {{status}}</span>
    </div>
  </li>
</template>

<template name="userChatCard">
  <!-- Display texts -->
  <div class="scrollable chat-prev col s12">
    <!-- {{> Template.dynamic template=textFrom}} -->

    Chat past info goes here
  </div>

  <div class="col s12 divider"></div>

  <div class="chat-send input-field col s12">
    <div class="row">
      <div class="col s10">
        <input id="input_text" placeholder="Text Message..." type="text" class="validate" data-length="160">
      </div>
      <div class="col s2 ">
        <a class="send-txt vertical-center btn btn-floating waves-effect waves-light z-depth-1"><i class="material-icons">send</i></a>
      </div>
    </div>
  </div>
</template>

<!-- <template name="textUser">
  User
</template>

<template name="textOperator">
  Api Card
</template> -->

<template name="apiCard">
  Api Card
</template>

<template name="statusCard">
  Status Card
</template>
