<template name="PerformanceLayout">
  <h2 class="page-title">Performance</h2>
  <div class="col s12 divider"></div>
  <div class="content-container">
    <div class="row">
      <div class="col s12 m6 l6 xl3 center">
        <div class="card-border card">
          <div class="col s12 operator-dash-title valign-wrapper">
            <div class="auto-width center-align ellipsis">Completed Orders</div>
          </div>
          <div class="col s12 divider"></div>
          <div class="row">
            <div class="performance-icon col m5 l12 xl5">
              <i class="material-icons small" style="color: #20AC74; border-color: #20AC74;">done</i>
            </div>
            <div class="performance-stat m7 l12 xl7">
              <h4 style="color: #20AC74;">{{completedOrders}}</h4><span style="color: #20AC74;">%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6 xl3 center">
        <div class="card-border card">
          <div class="col s12 operator-dash-title valign-wrapper">
            <div class="auto-width center-align ellipsis">Number of Users Served </div>
          </div>
          <div class="col s12 divider"></div>
          <div class="row">
            <div class="performance-icon col m5 l12 xl5">
              <i class="material-icons small" style="color: #FF9505; border-color: #FF9505;">person_outline</i>
            </div>
            <div class="performance-stat m7 l12 xl7">
              <h4 style="color: #FF9505;">{{usersServed}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6 xl3 center">
        <div class="card-border card">
          <div class="col s12 operator-dash-title valign-wrapper">
            <div class="auto-width center-align ellipsis">Average Profit Per Day</div>
          </div>
          <div class="col s12 divider"></div>
          <div class="row">
            <div class="performance-icon col m5 l12 xl5">
              <i class="material-icons small" style="color: #419FF7; border-color: #419FF7;">attach_money</i>
            </div>
            <div class="performance-stat m7 l12 xl7">
              <h4 style="color: #419FF7;">{{profitPerDay}}</h4><span style="color: #419FF7;">SAR</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6 xl3 center">
        <div class="card-border card">
          <div class="col s12 operator-dash-title valign-wrapper">
            <div class="auto-width center-align ellipsis">Average Rating</div>
          </div>
          <div class="col s12 divider"></div>
          <div class="row">
            <div class="performance-icon col m5 l12 xl5">
              <i class="material-icons small" style="color: #FDCC0B; border-color: #FDCC0B;">star_border</i>
            </div>
            <div class="performance-stat m7 l12 xl7">
              <h4 style="color: #FDCC0B;">{{averageRating}}</h4><span style="color: #FDCC0B;">/5</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12 center">
        <div class="card-border card">
          <div class="row">
            <div class="col m12 l5 operator-dash-title title-with-options valign-wrapper">
              <div class="auto-width center-align ellipsis">Calendar Activity</div>
            </div>
            <div class="col m12 l7">
              <form class="options-form calendar-activity-form"  method="post">
                <div class="input-field">
                  <input type="text" id="calendar-activity-start-date">
                  <label class="active" for="calendar-activity-start-date">Start Date</label>
                </div>
                <div class="input-field">
                  <input type="text" id="calendar-activity-end-date">
                  <label class="active" for="calendar-activity-end-date">End Date</label>
                </div>
                <button class="waves-effect waves-light btn center-align" type="submit" name="button">Update</button>
              </form>
            </div>
            <div class="col s12">
              <div class="col s12 divider"></div>
              <div id="calendar-activity-preloader" class="chart-preloader active progress">
                <div class="indeterminate"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="operator-chart col s12">
              <div id="calendar-activity-chart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col s12 m12 center">
      <div class="card-border card">
        <div class="col s12 operator-dash-title valign-wrapper">
          <div class="auto-width center-align ellipsis">Average Rating Per Category</div>
        </div>
        <div class="col s12 divider"></div>
        <div id="average-rating-preloader" class="chart-preloader active progress">
          <div class="indeterminate"></div>
        </div>
        <div class="operator-chart">
          <div id="average-rating-chart"></div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>
