<template name="ProfileLayout">
  <h2 class="page-title">Profile</h2>
  <div class="col s12 divider"></div>
  <div class="content-container">
    {{> userCardsPage}}
    <!-- Modal Structure -->
    <div id="3dsecurity_frame" class="modal">
      <div class="modal-content center">
        <h4>Please Authenticate</h4>
        <iframe id="3dsecurity" class="frame-container" height="500"></iframe>
      </div>
    </div>
    </div>
</template>

<template name="userCardsPage">
  <!-- USER -->
  <div class="row ">
    <div class={{padding}}>
    <div class="col s12 m12 l6" style="padding: 0;">
      <!-- BALANCE CARD -->
      <div class="col s12">
        <div class="card-border balance_card white card" style="z-index: 0;">
          {{> userBalance}}
        </div>
      </div>
     <!-- HISTORY CARD -->
      <div class="col s12">
        <div class="card-border  transactions-card white card" style="z-index: 0;">
          {{> transactions}}
        </div>
      </div>
    </div>
    <!-- TOPUP CARD -->
    <div class="col s12 m12 l6">
      <div class="card-border topup-card white card" style="z-index: 0;">
        {{> topUp}}
      </div>
    </div>
  </div>
  </div>
</template>

<template name="userBalance">
    <div class="row">
      <div class="col s12 operator-dash-title valign-wrapper">
        <div class="auto-width center-align ellipsis">Balance</div>
      </div>
      <div class="col s12">
        <div class="col s12 divider"></div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 balance-number ellipsis center-align">
        {{balance}} <a class="currency_main">(SAR)</a>
      </div>
    </div>
</template>

<template name="topUp">

    <div class="no-bottom-margin">
    <div class="col s12 operator-dash-title valign-wrapper">
      <div class="auto-width center-align ellipsis">Add Money</div>
    </div>
    <div class="col s12 divider"></div>
  </div>

    <div class="row">
      <div class=" col s12 ">
      <div class="input-field col s12 ">
        <i class="material-icons icon-center-form prefix">attach_money</i>
        <input placeholder="0.00" id="amount" type="number" min="0.00" max="10000.00" step="0.01" class="validate">
        <label class="active" for="amount">Amount</label>
      </div>
      </div>
    </div>
    <div class="col s12 center">
    <div class="row no-bottom-margin">
      <ul class="tabs">

        <li class="tab col s6"><a href="#creditcard-safe">Credit Card</a></li>
        <li class="tab col s6"><a href="#sadad">Sadad</a></li>

      </ul>
    </div>
    </div>
  <div class="row no-bottom-margin">
    <div id="creditcard-safe" class="col s12 scrollable-topup">
      <form class="safe">
          <div class="col s12">
          <div class="input-field">
            <i class="material-icons icon-center-form  prefix">call_to_action</i>
            <input placeholder="XXXX XXXX XXXX XXXX" id="number" type="text" class="validate">
            <label class="active" for="number">Card Number</label>
          </div>
        </div>
        <!-- </div>
        <div class="row"> -->
        <div class="col s12">
          <div class="input-field">
            <i class="material-icons icon-center-form  prefix">account_circle</i>
            <input placeholder="Abdul Jamjoom" id="name" type="text" class="validate">
            <label class="active" for="name">Full Name</label>
          </div>
        </div>
        <!-- </div> -->

        <div class="col s12">
          <div class="input-field ">
            <i class="material-icons icon-center-form prefix">credit_card</i>
            <input placeholder="XXX (*At the back of your card.)" id="cvv" type="text" maxlength="3" class="validate">
            <label class="active" for="cvv">CVV</label>

          </div>
          <!-- <div class="col s8"> -->

            <!-- At the back of your card . -->

          <!-- </div> -->

        </div>
        <!-- </div>
        <div class="row"> -->
          <!-- <div class="col s2">

          </div> -->
         <!--  <div class=" col s12"> -->
            <div class="col s2">
              <i class="material-icons icon-center-form small prefix">date_range</i>
            </div>
          <div class="input-field col s6">
            <select id="month">
              <option value="0" disabled selected>Month</option>
              <option value="1">1 January</option>
              <option value="2">2 February</option>
              <option value="3">3 March</option>
              <option value="4">4 April</option>
              <option value="5">5 May</option>
              <option value="6">6 June</option>
              <option value="7">7 July</option>
              <option value="8">8 August</option>
              <option value="9">9 September</option>
              <option value="10">10 October</option>
              <option value="11">11 November</option>
              <option value="12">12 December</option>
            </select>
            <label>Expiration</label>
          </div>
          <div class="input-field col s4">
            <input placeholder="Year" id="year" type="text" class="validate">
            <!-- <label class="active" for="year">Year</label> -->
          </div>
        <!-- </div> -->

        <br>
        <div class=" col s12">
          <button type="submit" class=" col s12 button-bottom-margin extend_button btn btn-primary center">Top Up</button>
        </div>

      </form>
    </div>
    <div id="sadad" class="col s12">
      <form class="sadad col s12">

        <!-- <div class="input-field col s12"> -->
          <div class="input-field">
            <i class="material-icons icon-center-form prefix">account_circle</i>
            <input placeholder="Moe Jam" id="username" type="text" class="validate">
            <label class="active" for="name">User Name</label>
          </div>
       <!--  </div> -->

        <br>
        <div class="topup-top-margin">
        <button type="submit" class=" col s12 extend_button btn btn-primary center">Top Up</button>
      </div>
      </form>
    </div>
    </div>
  <!-- </div> -->
</template>

<template name="transactions">
  <div class=" no-bottom-margin">
    <div class="col s12 operator-dash-title valign-wrapper">
      <div class="auto-width center-align ellipsis">History</div>
    </div>
    <div class="col s12 divider"></div>
  </div>
  <div class="scrollable-profile-history container col s12">
    <ul class="collapsible z-depth-0" data-collapsible="accordion" >
      {{#each transaction in userHistory customerId}}
          <li>
            <div class="collapsible-header">
              <div class="left s10 ellipsis">{{transaction.title}}</div>
              <div class="right s2 ellipsis">{{since transaction.time}}</div>
            </div>
            <div class="collapsible-body">
              <div class="left ">{{transaction.description}}</div>
              <div class="right">{{transaction.price}}</div>
              <br>
              <div>{{transaction.status}}</div>
            </div>
          </li>
      {{/each}}

      <!-- START DELETE (AFTER TESTING) -->
      <li>
        <div class="collapsible-header">
          <div class="left col s10 ellipsis">Jarir Book Store (TEST)</div>
          <div class="right col s2 ellipsis">5 days ago</div>
        </div>
        <div class="collapsible-body row">
          <div class="left">2 Five Star Grid Notebooks</div>
          <div class="right ">SAR50.00</div>
          <br>
          <div> (done)</div>
        </div>
      </li>
       <li>
        <div class="collapsible-header">
          <div class="left col s10 ellipsis">Jarir Book Store (TEST)</div>
          <div class="right col s2 ellipsis">5 days ago</div>
        </div>
        <div class="collapsible-body">
          <span class="left">٢ مسحب حراق</span>
          <span class="right">SAR23.00</span>
          <span> (dummy)</span>
        </div>
      </li>
       <li>
        <div class="collapsible-header">
          <div class="left col s10 ellipsis">Jarir Book Store (TEST)</div>
          <div class="right col s2 ellipsis">5 days ago</div>
        </div>
        <div class="collapsible-body">
          <span class="left">٢ مسحب حراق</span>
          <span class="right">SAR23.00</span>
          <span> (dummy)</span>
        </div>
      </li>
       <li>
        <div class="collapsible-header">
          <div class="left col s10 ellipsis">Jarir Book Store (TEST)</div>
          <div class="right col s2 ellipsis">5 days ago</div>
        </div>
        <div class="collapsible-body">
          <span class="left">٢ مسحب حراق</span>
          <span class="right">SAR23.00</span>
          <span> (dummy)</span>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <div class="left col s10 ellipsis">Jarir Book Store (TEST)</div>
          <div class="right col s2 ellipsis">5 days ago</div>
        </div>
        <div class="collapsible-body">
          <span class="left">From your house to your office</span>
          <span class="right">SAR20.00</span>
          <span> (done)</span>
        </div>
      </li>
      <!-- END DELETE -->
    </ul>
  </div>
</template>
