<template name="ResetPassLayout">
  {{> Navbar }}
  <div class="content-container">
  <div class="row col s12">
    <div class="reset_pass_margins col l6 m12 s12">
      <span class="title_reset">Reset your Tamerny password</span> <br>
      <span class="subtitle_reset">Enter your new password</span>
      <form>

        <div class="forgot_pass_button"><input class="col s12 forgot_pass_button" type="password" name="password" placeholder="Password">
        <input class="col s12 forgot_pass_button" type="password" name="passwordCheck" placeholder="Password">
        </div>

        <a class="reset-pass waves-effect waves-light center-align btn"><input type="submit" value="Change"></a>
      </form>
    </div>
  </div>
  </div>
</template>
