
<template name="SettingsLayout">
  <main>
    {{#if currentUser }}
		<div class="row">
			<div class="hide-on-small-only">
				{{> SettingsTopCard}}
			</div>
      <div class="container">
			 {{> SettingTabs}}
      </div>
		</div>

		{{else}}
			Wrong page :)
	{{/if}}

  </main>
</template>


<!-- TOP CARD -->
<template name="SettingsTopCard">
	<div class="settings-background">
		<div class="container">
  		<div class="center settings-main-text">
        <!-- TAKE CARE OF OVER FLOW... TWO LINE ELLIPSIS -->
  			{{basicInfo.firstName}}, configure your account as you wish
  		</div>
  		<div class="row settings-sub-text">
  			<div class="col l6 m6 s6 ">
  				<div class="row">
    				<div class="col l10 m10 s10 ellipsis">
	      			{{basicInfo.firstName}} {{basicInfo.lastName}}
	      			<br>
	      			{{basicInfo.phone}}
	      		</div>
      		</div>
    		</div>
      	<div class="col l6 m6 s6 right-align">
      		{{role}}
      	</div>
  		</div>
		</div>
  </div>
</template>

<template name="SettingTabs">
  <div class="row">
    <!-- <div class=""> -->
      <div class="col s12">
          <ul class="tabs">
            {{#if IsOperator }}
              <li class="tab col s4"><a  href="#account"><i class="material-icons icon-valign">perm_identity</i> Account</a></li> 
              <li class="tab col s4"><a class="active" href="#operator"><i class="material-icons icon-valign">assignment</i> Operator </a></li>
              <li class="tab col s4"><a href="#payment"><i class="material-icons icon-valign">attach_money</i> Payment</a></li>
            {{else}}
              <li class="tab col s6"><a href="#account"><i class="material-icons icon-valign">perm_identity</i> Account</a></li> 
              <li class="tab col s6"><a href="#payment"><i class="material-icons icon-valign">attach_money</i> Payment</a></li>

            {{/if}}
          </ul>
      </div>
    <!-- </div> -->
      {{> SettingsCard}}
  </div>
</template>

<template name="SettingsCard">
	 <br><br><br>
    <!-- ACCOUNT TAB -->
  <div id="account" class="col s12">
    <ul class="collapsible z-depth-0" data-collapsible="accordion">
    <li>
      <!-- Change Name -->
      <div class="collapsible-header ">
        <div class="col s10 ellipsis">
        <i class="material-icons">person_outline</i>
            Name  &nbsp;&nbsp; ({{basicInfo.firstName}} {{basicInfo.lastName}}) 
        </div>
        <div class="col s2">
          <i class="material-icons right">mode_edit</i>
        </div>
      </div>

      <div class="collapsible-body">
        <div class="row">
          {{#autoForm collection="UserProfiles" doc=basicInfo id="updateNameForm" type="update"}}
            <div class="container center">
              <div class="input-field col s12">
                {{>afFieldInput name="firstName" id="firstName" type="text"}}
                <label class="active">First Name</label>
              </div>
              <div class="input-field col s12">
                {{>afFieldInput name="lastName" id="lastName" type="text"}}
                <label class="active">Last Name</label>
              </div>

              <div class="input-field col s6">
                {{>afFieldInput name="phone" id="phone" type="hidden"}}
              </div>
              
              <br>
              <button type="submit" class=" col s12 btn center btn-primary ">Change</button>  
            </div>
          {{/autoForm}}
        </div>
      </div>
    </li>
    <li>
    <!-- Change Phone Number -->
      <div class="collapsible-header">
        <div class="col s10 ellipsis">
          <i class="material-icons">perm_phone_msg</i>
          Phone Number  &nbsp;&nbsp; ({{basicInfo.phone}}) 
        </div>
        <div class="col s2">
          <i class="material-icons right">mode_edit</i>
        </div>
      </div>
        <div class="collapsible-body">
          <div class="row">
            {{#autoForm collection="UserProfiles" doc=basicInfo id="updatePhoneForm" type="update"}}
            <div class="container center">
              <div class="input-field col s12">
                {{>afFieldInput name="phone" id="phone" type="number"}}
                <label class="active">Phone Number</label>
              </div>
              <br>
              <button type="submit" class=" col s12 btn center btn-primary  btn center btn-primary">Change</button>
            </div>
          {{/autoForm}}
          </div>
        </div>
      </li>
    <li>
    <!-- Change Email -->
      <div class="collapsible-header"><div class="col s10 ellipsis"><i class="material-icons">mail_outline</i>Change Email  &nbsp;&nbsp; ({{userEmail}}) </div>
        <div class="col s2"><i class="material-icons right">mode_edit</i></div></div>
      <div class="collapsible-body">
        <div class="row">
          <form class="changeEmail">
            <div class="container center">
              <div class="input-field col s12">
                <input id="newEmail" name="newEmail" type="email" class="validate">
                <label for="email">New Email</label>
              </div>
                <button type="submit" class=" col s12 btn center btn-primary ">Change</button>
            </div>
          </form>
        </div>
      </div>
    </li>
    <li>
    <!-- Change Password -->
      <div class="collapsible-header"><div class="col s10 ellipsis"><i class="material-icons">fingerprint</i>Change Password </div>
        <div class="col s2"><i class="material-icons right">mode_edit</i></div></div>
      <div class="collapsible-body">
        <div class="row">
          <form class="changePassword">
              <div class="container center">
                <div class="input-field col s4">
                  <input id="oldPass" name="oldPass" type="password" class="validate">
                  <label for="password">Old Password</label>
                </div>
                <div class="input-field col s4">
                  <input id="newPass" name="newPass" type="password" class="validate">
                  <label for="password">New Password</label>
                </div>
                <div class="input-field col s4">
                  <button type="submit" class=" btn right btn-primary">Change</button>
                </div>
              </div>
            </form>
          
        </div>
      </div>
    </li>
    <li>
    <!-- Deactivate Account -->
      <div class="collapsible-header ellipsis"><div class="col s10 ellipsis"><i class="material-icons">clear</i>Deactivate Account</div></div>
      <div class="collapsible-body">
        <div class="row">
          <form class="deactivateAccount">
            <button type="submit" class=" col s12 extend_button btn btn-primary center">Click to deactivate your account and delete all your records</button>
          </form>
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- OPERATOR TAB -->
  {{#if IsOperator }}
  <div id="operator" class="col s12">
    <ul class="collapsible z-depth-0" data-collapsible="accordion">
      <!-- Change Education Level -->
      <li>
        <div class="collapsible-header"><i class="material-icons">school</i>Education Level  &nbsp;&nbsp; ({{operatorInfo.educationLevel}}) <i class="material-icons right">mode_edit</i></div>
        <div class="collapsible-body">
          <div class="row">
            {{#autoForm collection="OperatorProfile" doc=operatorInfo id="profileOperatorUpdate" class="operator" type="update"}}
              <div class="container center">
                <div class="input-field col s12">
                  {{>afFieldInput name="educationLevel" type="select"}}
                  <label class="active">Education Level</label>
                </div>
                <br>
                <!-- <a class="operator"> -->
                  <button type="submit" class="col s12 btn center btn-primary ">Change</button>
                <!-- </a>  --> 
              </div>
            {{/autoForm}}
          </div>
        </div>
      </li>
      <!-- Change Employment Status -->
      <li>
        <div class="collapsible-header"><div class="col s10 ellipsis"><i class="material-icons">business_center</i>Employment Status  &nbsp;&nbsp; ({{operatorInfo.empStatus}}) </div>
        <div class="col s2"><i class="material-icons right">mode_edit</i></div></div>
        <div class="collapsible-body">
          <div class="row">
            {{#autoForm collection="OperatorProfile" doc=operatorInfo id="profileOperatorUpdate" class="operator" type="update"}}
              <div class="container center">
                <div class="input-field col s12">
                  {{>afFieldInput name="empStatus" type="select"}}
                  <label class="active">Employment Status</label>
                </div>
                <br>
                <button type="submit" class=" operator col s12 btn center btn-primary ">Change</button>  
              </div>
            {{/autoForm}}
          </div>
        </div>
      </li>
      <!-- Change Affiliation -->
      <li>
        <div class="collapsible-header"><div class="col s10 ellipsis"><i class="material-icons">domain</i>Affiliation  &nbsp;&nbsp; ({{operatorInfo.affiliation}})</div>
        <div class="col s2"> <i class="material-icons right">mode_edit</i></div></div>
        <div class="collapsible-body">
          <div class="row">
            {{#autoForm collection="OperatorProfile" doc=operatorInfo id="profileOperatorUpdate" type="update"}}
              <div class="container center">
                <div class="input-field col s12">
                  {{>afFieldInput name="affiliation" type="text"}}
                  <label class="active">Affiliation</label>
                </div>
                <br>
                <button type="submit" class=" operator col s12 btn center btn-primary ">Change</button>  
              </div>
            {{/autoForm}}
          </div>
        </div>
      </li>
      <!-- Change Operator time Commitement -->
      <li>
        <div class="collapsible-header"><div class="col s10 ellipsis"><i class="material-icons">alarm</i>Time Commitment  &nbsp;&nbsp; ({{operatorInfo.operateTime}}) </div>
        <div class="col s2"><i class="material-icons right">mode_edit</i></div></div>
        <div class="collapsible-body">
          <div class="row">
            {{#autoForm collection="OperatorProfile" doc=operatorInfo id="profileOperatorUpdate" class="operator" type="update"}}
              <div class="container center">
                <div class="input-field col s12">
                  {{>afFieldInput name="operateTime" type="select"}}
                  <label class="active">Time Commitment</label>
                </div>
                <br>
                <button type="submit" class=" operator col s12 btn center btn-primary ">Change</button>  
              </div>
            {{/autoForm}}
          </div>
        </div>
      </li>
      <!-- Change Languages -->
      <li>
        <div class="collapsible-header"><div class="col s10 ellipsis"><i class="material-icons">language</i>Language Proficiency  &nbsp;&nbsp; 
          ({{#each lang in operatorInfo.langs}}
            {{lang }}
          {{/each}}) </div>
        <div class="col s2">
          <i class="material-icons right">mode_edit</i></div></div>
        <div class="collapsible-body">
          <div class="row">
            {{#autoForm collection="OperatorProfile" doc=operatorInfo id="profileOperatorUpdate" class="operator" type="update"}}
              <div class="container center">
                <div class="input-field col s12">
                  {{>afFieldInput name="langs" type="select-multiple"}}
                  <label class="active">Language Proficiency</label>
                </div>
                <br>
                <button type="submit" class=" operator col s12 btn center btn-primary ">Change</button>  
              </div>
            {{/autoForm}}
          </div>
        </div>
      </li>
      <!-- Change Expertise -->
      <li>
        <div class="collapsible-header"><div class="col s10 ellipsis"><i class="material-icons">lightbulb_outline</i>Expertise &nbsp;&nbsp; 
        ({{#each exp in operatorInfo.expertise}}
            {{exp }}
          {{/each}}) </div>
        <div class="col s2">
           <i class="material-icons right">mode_edit</i></div></div>
        <div class="collapsible-body">
          <div class="row">
            {{#autoForm collection="OperatorProfile" doc=operatorInfo id="profileOperatorUpdate" class="operator" type="update"}}
              <div class="container center">
                <div class="input-field col s12">
                  {{>afFieldInput name="expertise" type="select-multiple"}}
                  <label class="active">Expertise</label>
                </div>
                <br>
                <button type="submit" class=" operator col s12 btn center btn-primary ">Change</button>  
              </div>
            {{/autoForm}}
          </div>
        </div>
      </li>
      <!-- Change Location-->
      <li>
        <div class="collapsible-header"><div class="col s10 ellipsis"><i class="material-icons">location_on</i>Location  &nbsp;&nbsp; ({{operatorInfo.location}}) </div>
        <div class="col s2"><i class="material-icons right">mode_edit</i></div></div>
        <div class="collapsible-body">
          <div class="row">
            {{#autoForm collection="OperatorProfile" doc=operatorInfo id="profileOperatorUpdate" class="operator" type="update"}}
              <div class="container center">
                <div class="input-field col s12">
                  {{>afFieldInput name="location" type="select"}}
                  <label class="active">Location</label>
                </div>
                <br>
                <button type="submit" class=" operator col s12 btn center btn-primary ">Change</button>  
              </div>
            {{/autoForm}}
          </div>
        </div>
      </li>
  </ul>
</div>
  {{/if}}

<!-- PAYMENT TAB -->
  <div id="payment" class="col s12">
    <ul class="collapsible z-depth-0" data-collapsible="accordion">
      <li>
        <!-- Change Name -->
        <div class="collapsible-header">
          <div class="row">
            <div class="center soon col s12">
              <br><br><br>
              Coming Soon.
              <br><br><br>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>


</template>







