<template name="SideNav">

  <ul id="slide-out" class="side-nav fixed">
    <li>
      <div class="info">
        <a href="/"><img class="logo brand-logo" src="/svg/logo.svg" alt="Tamerny"></a>
        <h4>{{basicUserInfo.firstName}}</h4>
        <p>{{basicUserInfo.phone}}</p>
      </div>
    </li>
    <li><a class="waves-effect waves-light" href="/profile"><i class="material-icons">person_outline</i>Profile</a></li>

    {{#if isOperator}}
      <li><a class="waves-effect waves-light" href="{{dashboardLink}}"><i class="material-icons">dashboard</i>Dashboard</a></li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect waves-light" href="/history"><i class="material-icons">history</i>History</a></li>
      <li><a class="waves-effect waves-light" href="/sales"><i class="material-icons">equalizer</i>Sales</a></li>
      <li><a class="waves-effect waves-light" href="/performance"><i class="material-icons">show_chart</i>Performance</a></li>
      <li><a class="waves-effect waves-light" href="/achievements"><i class="material-icons">star</i>Achievements</a></li>
    {{else}}
      <li><a class="waves-effect waves-light side-nav-op-reg" href="/op-registration">Become an Operator</a></li>
    {{/if}}

    <li><div class="divider"></div></li>
    <li><a class="waves-effect waves-light" href="/settings"><i class="material-icons">settings</i>Settings</a></li>
    <li><a class="waves-effect waves-light logout" href="/"><i class="material-icons">lock</i>Sign Out</a></li>

  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

</template>
