  

<template name="TestLayout">
  <div class="navbar-fixed ">
    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      <li><a href="#!">two</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>
      <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
      <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
    </ul>
    
    <nav class="#9fa8da indigo lighten-3 z-depth-0">
      <div class="nav-wrapper">
        <a href="/"><img class="logo brand-logo" height="80%" width="80" src="/images/logo.png" alt="Logo"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right valign-wrapper hide-on-med-and-down">
          <li><a href="/profile">Profile</a></li>
          <li><a href="/" class="logout waves-effect waves-light">Logout</a></li>
          <!-- Dropdown Trigger -->
          <li><a class='dropdown-button' href='#' data-activates='dropdown1'>Drop Me!</a></li>  
        </ul>
      </div>
    </nav>
  </div>

</template>

